PngImage_1 RCData "Images\\Bird_1.png"
PngImage_2 RCData "Images\\Ground_1.png"
PngImage_3 RCData "Images\\Background.png"
PngImage_4 RCData "Images\\Tube1.png"
PngImage_5 RCData "Images\\Tube2.png"
PngImage_6 RCData "Images\\start.png"
